<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        {# 검색창 #}
        <div>
            <fieldset> {# 공간을 좀 주기 위해서 #}
                <form method="POST"> {# 주소가 필요함 #}
                    <input type = 'text' name="keyword" placeholder="종목이름으로 입력하세요." autofocus/>
                    <input type = "submit" value="검색"/>
                </form>
                {# 검색결과는 id가 result인 요소의 자식으로 들어간다 #}
                <div id="result">
                    
                </div>
            </fieldset>
        </div>

        {# 쿼리문에서 가져온 데이터 #}
        <div>
            <table border="1" cellspacing = "0" width = "100%">
                <caption>주식목록</caption>
                <thead>
                    {# 코드 이름 현재가 상한가 최저가 #}
                    <th>코드</th>
                    <th>이름</th>
                    <th>현재가</th>
                    <th>상한가</th>
                    <th>최저가</th>
                </thead>
                <tbody>
                    {% for trade in trades %}
                        <tr>
                            <td>{{trade['code']}}</td>
                            <td>{{trade['name']}}</td>
                            <td>{{trade['cur']}}</td>
                            <td>{{trade['high']}}</td>
                            <td>{{trade['low']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <script>
            // 의사결정 selector
            // tr들 중에서 첫째 :: 이건 이 문서상에 존재하는 모든 tr을 모아서 그 중 첫번째
            $('tr:first').css('color','red');
            // 동화약품의 배경색을 다른 색으로
            // 주식 정보를 가진 tr들을 다 모아서 그 중에서 첫번째
            // tbody 밑에 직계자식 모든 tr
            // 처음
            $('tbody>tr:first').css('background','blue');
            // 마지막
            $('tbody>tr:last').css('background','lightgreen');
            // 짝수
            $('tbody>tr:even').css('background','pink');
            // 홀수
            $('tbody>tr:odd').css('background','yellow');
        </script>
    </body>
</html>